body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
}

header {
    border-style: solid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3a3131;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

header img {
    box-sizing: content-box;
    padding-right: 20px;
    padding-left: 20px;
    height: 100px;
    width: 100px;
    display: flex;
}

header h1 {
    box-sizing: content-box;
    padding-right: 20px;
    padding-left: 20px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    box-sizing: content-box;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
    color: #f8f8f8;
}

main {
    margin-top: 130px;
}

#presentation p {
    text-align: justify;
}

#créations img {
    height: 300px;
    border-style: solid;
    border-color: #ffffff;
}

#créations div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#créations article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    height: 30px;
    box-sizing: content-box;
    padding-right: 5px;
    padding-left: 5px;
}

footer a {
    text-decoration: none;
}