@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@font-face {
    font-family: "braders" ;
    src: url(../police/braders/Braders.woff);
    src: url(../police/braders/Braders.otf) format('opentype');
}
@font-face {
    font-family: "SuperMario";
    src: url(../police/super_mario_bros_3/Super-Mario-Bros-3.woff);
    src: url(../police/super_mario_bros_3/Super-Mario-Bros--3.ttf) format('opentype');
}
@font-face {
    font-family: "PKMN";
    src: url(../police/pkmn_rbygsc/PKMN-RBYGSC.woff);
    src: url(../police/pkmn_rbygsc/PKMN\ RBYGSC.ttf) format('opentype');
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom-style: solid;
    position: fixed; /*Fixe le header pour le scrolling*/
    top: 0; /*fait en sorte que le header prenne bien tout le haut de la page*/
    left: 0;
    width: 100%;
    background-image: url(../images/backgroud-header.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header img {
    box-sizing: content-box;
    padding-right: 20px;
    padding-left: 20px;
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 16px;
}

header h1 {
    font-family: "braders", serif;
    box-sizing: content-box;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
    color: #f8f8f8;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

nav a:focus {
    color: #9c8a8a;
    text-decoration: underline;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 130px;
}

h2 {
    font-family: "SuperMario";
}

section img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}

section p {
    font-family: "PKMN";
    padding: 20px;
}

main section div a {
    padding: 10px;
    text-decoration: none;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: black;
    border-radius: 5px;
    font-weight: 600;
}

footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    height: 30px;
    box-sizing: content-box;
    padding-right: 5px;
    padding-left: 5px;
}

footer p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer a {
    text-decoration: none;
}