header img {
    height: 100px;
    width: 100px;
}

header div {
    display: flex;
    flex-direction: row
}

nav {
    display: flex;
    flex-direction: row;

}

#créations img {
    height: 300px;

}